button.goTop-button {
  position: fixed;
  right: 50px;
  bottom: 110px;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  z-index: 10;
  padding: 0;
  color: @white;
  background-color: @nav;

  .no-touch &:hover {
    background-color: darken(@nav, 10%);
  }
}
